/* xs */
* {
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}
body {
    background:url(../images/pattern.jpg);
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.page-header {
    position: relative;
    display: flex; 
}
.items-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.item {
    height: 150px;
    padding: 0.5rem
}
.item__content {
    height: 100%;
    position: relative;
}
.item:nth-child(1) 
.item__content{
    background-color: #3387ea;
}
.item:nth-child(2) 
.item__content{
    background-color: #f9be3e;
}
.item:nth-child(3) 
.item__content{
    background-color: #d3573e;
}
.item:nth-child(4) 
.item__content{
    background-color: #59b0e2;
}
.item:nth-child(5) 
.item__content{
    background-color: #33af95;
}
.item:nth-child(6) 
.item__content{
    background-color: #86a73f;
}
.item:nth-child(7) 
.item__content{
    background-color: #151a26;
}
.item:nth-child(8) 
.item__content{
    background-color: #7e5b8c;
}
.item__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item__text {
    position: absolute;
    top: 80%;
    left: 5%;
}
.blog {
    display: flex;
    flex-direction: row;
}
.blog__image {
    width: 30%;
    overflow: hidden;
}
.blog__image >img{
    height: 100%;
}
.blog__header {
    padding-bottom: 20px;
    padding-top: 35px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 17px;
}
.blog__paragraph {
    padding-left: 10px;
}
@media (min-width: 768px) {
/* sm */
}
@media (min-width: 992px) {
.page-wrapper {
    margin: 10% auto;
    max-width: 800px;
}
}
@media (min-width: 1200px) {
    .page-wrapper {
        margin: 0 auto;
        max-width: 800px;
    }
}